<!DOCTYPE html>
<html lang="en">
<head>
    <title>ZotFit | {% block title %}Your new fitness partner{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <style>
        .btn-outline-primary {
            border: 2px solid transparent;
            color: #1f5ba1;
            background-color: #c9efff;
            border-color: #1f5ba1;
        }
        .btn-outline-primary:hover {
            color: #fff;
            background-color: #1f5ba1;
            border-color: #1f5ba1;
        }
        .btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus {
            box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.5);
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
    <div class="container">
        <span class="navbar-brand mb-0 h1" style="color: #1f5ba1">ZotFit</span>
        {% block navbar %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">What is ZotFit</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">How it works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
                <button type="button" class="btn btn-dark btn-sm ms-3 my-1">Login</button>
            </ul>
        </div>
        {% endblock %}
    </div>
    </nav>

    <main>
        {% block content %}
        <div class="text-center py-5 px-3" style="background-image: linear-gradient(#c9efff, #ffffff);">
            <h1 style="color: #1f5ba1">Your new fitness partner.</h1>
        </div>
        <div class="container">
            <div class="row py-5 align-items-center">
                <div class="col me-2">
                    <h2>What is ZotFit?</h2>
                    <p class="fs-5">ZotFit is a revolutionary new health application that uses your data to develop a fitness regimen. Using artificial intelligence and machine learning, the engineers at ZotFit have developed a system that truly works with its users to help them attain their health-related goals.</p>
                </div>
                <div class="col-3">
                    <img src="https://cdn.pixabay.com/photo/2019/08/22/14/05/giant-anteater-4423584_1280.jpg" class="img-fluid rounded">
                </div>
            </div>
            <div class="row py-5 align-items-center">
                <div class="col-3">
                    <!-- <img src="https://pixabay.com/get/gaf0321bad28e587c876d851a5b22d1ad735df6b10fbfd03f17eb4287af927d27399748a5f189b15af2e16e7568f8a662_1920.jpg" class="img-fluid rounded"> -->
                    <img src="https://c.pxhere.com/images/09/71/6b2a4d7b7e11a61e7e3258cddd35-1632993.jpg!d" class="img-fluid rounded">
                </div>
                <div class="col ms-2">
                    <h2>How it works</h2>
                    <p class="fs-5">First, our users sign up for an account and tell us what their goals are. They then export their health data from their phones and upload it to our servers here at ZotFit. After we do some magic and parse all that data, ZotFit recommends some routines that our users can do to help them achieve their goals. 
        We also give users some additional “extra credit” homework (additional exercise videos and articles that may be relevant to them).</p>
                </div>
            </div>
            <div class="text-center py-5 mx-auto" style="width: 50%">
                <h2>About the team</h2>
                <p class="fs-5">We are a collective of students at the University of California who wanted to help people who want to exercise get in shape. In developing ZotFit, we hope to improve the lives of people who have health related goals and empower them to get in shape.</p>
                <a href="/register" class="btn btn-outline-primary btn-lg mt-3" role="button">Get started today!</a>
            </div>
        </div>
        {% endblock %}
    </main>
</body>
</html>
