{% extends "base.html" %}

{% block navbar %}
	<button type="button" class="btn btn-dark btn-sm" disabled>{{ step }}</button>
{% endblock %}

{% block content %}
	<div class="container-fluid py-4" style="background-image: linear-gradient(#c9efff, #ffffff);">
		<div class="card col-sm-5 mx-auto">
			<form class="card-body m-2" method="POST">
				{% csrf_token %}
				<h3 class="card-title">{% block title %}{{ title }}{% endblock %}</h3>
				{{ form.as_p }}
			</form>
		</div>
	</div>
{% endblock %}