{% extends "base.html" %}

{% block navbar %}
	<button type="button" class="btn btn-dark btn-sm" disabled>Step 2/2</button>
{% endblock %}

{% block content %}
	<div class="container-fluid py-4" style="background-image: linear-gradient(#c9efff, #ffffff);">
		<div class="card col-sm-5 mx-auto">
			<form class="card-body m-2" method="POST">
				{% csrf_token %}
				<h3 class="card-title">Let's get to know you a bit</h2>
				{{ form.as_p }}
				<div class="text-center">
					<button type="submit" class="btn btn-primary btn-lg">Get started</button>
				</div>
			</form>
		</div>
	</div>
{% endblock %}