{% extends "base.html" %}

{% load humanize %}

{% block title %}Home{% endblock %}

{% block head %}
    <!-- chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.0.0-beta.12/dist/chart.min.js" integrity="sha256-HqQH8Uu44MryC1W76g60VmRmQFT3VmrxsExz79qScN4=" crossorigin="anonymous"></script>
{% endblock %}

{% block navbar %}
    <!-- dev, should be removed in demo -->
    <small class="text-muted">user: {{user.username}}</small>
	<a href="{% url 'logout' %}" class="btn btn-dark btn-sm">Logout</a>
{% endblock %}

{% block content %}
	<div class="container-fluid" style="background-image: linear-gradient(#daebff, #ffffff);">
        <div class="container py-5">
            <!-- <h2 class="py-3" style="font-weight: bold;">Hi, {{ user.first_name }}</h2> -->
            <h2 style="font-weight: bold;">Charts</h2>
            <div class="card my-4 mx-auto shadow">
                <div class="card-body m-2">
                    <h4 class="card-title pb-3" style="font-weight: bold;">Steps Per Day</h4>
                    <canvas id="my-chart"></canvas>
                </div>
            </div>
            <h2 class="pt-4" style="font-weight: bold;">Today's workout</h2>
            <div class="card-group my-4 shadow">
                {% for workout in recommendations %}
                <div class="card rounded-0">
                    <div class="ratio ratio-16x9">
                        <iframe src="{{ workout.embed }}" allowfullscreen></iframe>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title" style="font-weight: bold;">{{ workout.name }} ({{ workout.combination }})</h4>
                        <p class="card-text"><small class="text-muted">Requires: {{ workout.requires }}</small></p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="card my-4 rounded-0 shadow">
                <div class="card-body">
                    <h4 class="card-title rounded-0" style="font-weight: bold;">Cardio</h4>
                    <h5 class="card-text text-muted">Take {{ step_rec|intcomma }} steps.</h5>
                </div>
            </div>
            <div class="text-center my-4">
                <!-- ugly, needs to become one thing -->
                <div class="btn-group">
                    <a href="{% url 'upload' %}" class="btn btn-outline-dark btn-lg">Upload steps</a>
                    <a href="{% url 'steps' %}" class="btn btn-outline-dark btn-lg">Record steps</a>
                    <a href="{% url 'workout' %}" class="btn btn-outline-dark btn-lg">Finish workout</a>
                </div>
            </div>
        </div>
	</div>
    {{ steps|json_script:"steps-data" }}
    {{ labels|json_script:"labels-data" }}
    <script>
    // retrieve steps and dates from template
    const steps = JSON.parse(document.getElementById('steps-data').textContent);
    const dateLabels = JSON.parse(document.getElementById('labels-data').textContent);

    // create chart
    const ctx = document.getElementById('my-chart');
    const chart = new Chart(ctx, {
        type: 'line',

        data: {
            labels: dateLabels,
            datasets: [{
                label: 'Daily Steps',
                data: steps,
                borderColor: 'rgba(51, 108, 251, 1)',
                // gradient possible but difficult to make responsive
                backgroundColor: 'rgba(51, 108, 251, .1)',
                fill: true,
                tension: 0.35,
            }]
        },

        options: {
            aspectRatio: 5,
            layout: {
                padding: 5
            },
            // hide legend
            plugins: {
                legend: {
                    display: false
                }
            },
            scales: {
                x: {
                    // hide x axis scale
                    gridLines: {
                        display: false
                    }
                },
                y: {
                    beginAtZero: true,
                    // dashed line
                    gridLines: {
                        borderDash: [4]
                    }
                }
            }
        }
    });
    </script>
{% endblock %}