{% extends "base.html" %}

{% block content %}
<form>
  <h2>Create an Account</h2>
  <form>
    <h7>Name</h7>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Last name">
      </div>
    </div>
  </form>
  <div class="form-group">
    <label for="birthDate">Date of Birth</label>
    <input type="date" class="form-control" id="birthDate" placeholder="DOB">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" class="form-control" id="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="pass">Password</label>
    <input type="password" class="form-control" id="pass" placeholder="Password">
  </div>
  <div class="form-group">
    <input type="password" class="form-control" id="confirmPass" placeholder="Confirm Password">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}